VOICESHIELD_ALERT_EMAIL_TO=
VOICESHIELD_SMTP_FROM=
VOICESHIELD_SMTP_HOST=
VOICESHIELD_SMTP_PASSWORD=
VOICESHIELD_SMTP_PORT=
VOICESHIELD_SMTP_USER=
VOICESHIELD_TWILIO_ACCOUNT_SID=
VOICESHIELD_TWILIO_AUTH_TOKEN=
VOICESHIELD_TWILIO_FROM=
VOICESHIELD_TWILIO_TO=